@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* Estilos generales */
* {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
a {
  color: #fff;
  text-decoration: none;
}
ul {
  list-style-type: none;
}
/* Header */
header {
  height: 100px;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1,
h2 {
  font-size: 24px;
  color: #fff;
}
.span-green {
  color: green;
}
.span-red {
  color: red;
}
.span-white {
  color: white;
}

.main-logo {
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav ul {
  color: #fff;
  display: flex;
  align-items: center;
}
nav ul a {
  padding: 10px;
}
/* Main */
main {
  background-color: #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 50px 0;
}
.container-left {
  display: flex;
}
.container-left h2 {
  margin: 20px;
  color: red;
}
.container-podio {
  width: 490px;
}
.container-right {
  border-radius: 8px;
  background-color: #fff;
  height: 350px;
  display: flex;
  align-items: center;
  margin: 5px;
}
.podio {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.h2-podio {
  color: red;
  text-align: center;
  margin-bottom: 50px;
  align-self: flex-start;
}
.img-principal {
  background: #e5e5e5 url("../img/delivery.png") no-repeat;
  height: 350px;
  width: 490px;
  border-radius: 8px;
}
.podio ol {
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* Footer */
footer {
  background-color: #000;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-logo {
  display: flex;
  align-items: center;
  margin: 10px;
}
.footer-nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 150px;
}
.footer-nav li {
  margin: 5px;
}
