/* Estilos generales */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700;900&display=swap');
body{
    font-family: 'Inter', sans-serif;
}
a {
  color: #000000;
  text-decoration: none;
}
ul {
  list-style-type: none;
}

/* Header */
header ul{
  padding: 0;
}

/* Main */
h1{
  color: white;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  position: absolute;
  bottom: 40px;
}
h2 {
  font-size: 24px;
  font-weight: 700;
}
h3 {
  font-style: italic;
  font-weight: 700;
  font-style: 18px;
}

.banner {
  background: wheat url("../img/lemon-pie.svg") no-repeat fixed center;
  /* background-color: wheat;
  background-image: url("../img/lemon-pie.svg");
  background-repeat: no-repeat;
    background-attachment: fixed; 
  background-position: center;
*/
  background-size: cover;
  height: 460px;
  position: relative;
}

.banner p{
  position: absolute;
  bottom: 0;
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

/* Footer */
footer {
  background-color: #ccc;
  text-align: center;
  line-height: 40px;
}
