.card,
.avatar,
.button {
  box-shadow: 0 10px 7px rgba(0, 0, 0, 0.25);
}
.container {
  width: 90%;
  margin: 110px auto;
  display: flex;
  justify-content: space-between;
}
.card {
  height: 580px;
  width: 290px;
  background-color: #f3f3f3;
  border-radius: 18px 18px 4px 4px;
  position: relative;
}
.card-text h2 {
  text-transform: uppercase;
}
.card-img {
  height: 193px;
  border-radius: 16px 16px 0 0;
}
.avatar {
  position: absolute;
  border-radius: 50%;
  top: 125px;
  right: 0;
  left: 0;
  margin: auto;
}

.bg-batman {
  background: #00669f url("../img/bg-batman.png") no-repeat center;
  background-size: cover;
}
.bg-harley {
  background: #00669f url("../img/bg-quinn.png") no-repeat center;
  background-size: cover;
}
.bg-mmaravilla {
  background: #00669f url("../img/bg-mmaravilla.png") no-repeat center;
  background-size: cover;
}
.bg-superman {
  background: #00669f url("../img/bg-superman.png") no-repeat center;
  background-size: cover;
}
.like {
  color: #cc2424;
  margin: 10px;
  font-size: 30px;
}
.like:hover,
.button:hover,
.avatar:hover {
  transform: scale(1.1);
}
.card:hover {
  /* transform: rotate(5deg); */
  animation-name: card-rotate;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}
@keyframes card-rotate {
  0% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(2deg);
  }

  100% {
    transform: rotate(-2deg);
  }
}
.card-text {
  margin-top: 75px;
}
.card-text p {
  height: 113px;
  padding: 16px;
}
h2 {
  font-size: 30px;
  text-align: center;
}
p {
  font-size: 16px;
}
.button {
  height: 48px;
  width: 129px;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 4px;
}
.button a {
  color: #fff;
  text-align: center;
  display: block;
  height: inherit;
  line-height: 48px;
}
.button:hover {
  background-color: #000;
}
