/* Estilos generales */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
a {
  text-decoration: none;
  color: #fff;
}
body {
  font-family: "Roboto", sans-serif;
}
ul {
  list-style-type: none;
  padding: 0;
}
/* Header */
.publicidad {
  background-color: #000;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.publicidad p {
  margin: 0 30px;
}
.idioma-moneda {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}
.idioma-moneda p {
  margin: 10px;
}
header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0a83e;
  padding: 0 30px;
}
.logo a {
  display: flex;
}
.logo span {
  color: #000;
}
nav ul {
  display: flex;
}
nav ul a {
  padding: 10px;
}

/* Main */
.section-banner {
  background: #89d0aa url("../img/bowl-and-pet-daities-on-green-background.png")
    no-repeat center;
  background-size: cover;
  height: 400px;
  text-align: center;
}
.section-banner h2 {
  font-size: 30px;
  background-color: #fff;
  line-height: 35px;
  margin: 0;
  display: inline-block;
  font-weight: 400;
}
.comederos {
  background-color: #f0a83e;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
}
.section-prodDestacados {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.section-paw-icon {
  color: #f0a83e;
  height: 60px;
  font-size: 60px;
  display: block;
  text-align: center;
}
.tipos-productos {
  text-align: center;
}
.section-prodDestacados ul {
  display: flex;
  justify-content: center;
}
.section-prodDestacados ul li {
  padding: 5px 10px;
}
.prodDestacados-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.prodDestacados-items div {
  margin: 5px;
}
.productos-descrip,
.productos-precio {
  font-size: 15px;
  font-weight: 500;
  text-align: center;
}
.productos-precio {
  color: #f0a83e;
}
/* Footer */
footer {
  color: #fff;
}
.footer-contacto {
  background-color: #3c2313;
  padding: 20px;
}
.footer-contacto h5 {
  font-size: 20px;
  font-weight: 700;
}
.footer-contacto p {
  font-size: 10px;
  color: #8a8787;
}
.footer-contacto i {
  font-size: 60px;
}
.footer-derechos {
  background-color: #000;
  text-align: center;
  margin: 0;
  line-height: 25px;
}
